{% extends 'base.html.twig' %}

{% block title %}BancoHoras{% endblock %}

{% block body %}
    <h1>BancoHoras</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banco_hora.id }}</td>
            </tr>
            <tr>
                <th>DataHoraInicial</th>
                <td>{{ banco_hora.dataHoraInicial ? banco_hora.dataHoraInicial|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DataHoraFinal</th>
                <td>{{ banco_hora.dataHoraFinal ? banco_hora.dataHoraFinal|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NomeCliente</th>
                <td>{{ banco_hora.nomeCliente }}</td>
            </tr>
            <tr>
                <th>TipoAtendimento</th>
                <td>{{ banco_hora.tipoAtendimento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banco_horas_controlador2_index') }}">back to list</a>

    <a href="{{ path('app_banco_horas_controlador2_edit', {'id': banco_hora.id}) }}">edit</a>

    {{ include('banco_horas_controlador2/_delete_form.html.twig') }}
{% endblock %}
